{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Closet</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Home</h1>
        <a href="/closet" class="btn btn-primary">Closet</a>
        <a href="/calendar" class="btn btn-primary">Calendar</a>

    </div>
</body>
</html>
{% endblock %}
